* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 15px;
}

.Portfolio-container {
  width: 100%;
  height: 100%;
  padding-top: 1px;
  background-color: whitesmoke;
}

.main-container {
  width: 98%;
  min-width: 500px;
  height: 40%;
  padding: 40px;
  margin: auto;
  margin-top: 10px;
  background: linear-gradient(rgb(72, 72, 200), rgb(220, 152, 220));
  overflow: hidden;
}

.main-content {
  position: relative;
  color: white;
}

.main-title {
  display: block;
  font-size: 35px;
}
.main-content p {
  font-size: 15px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 15px;
  background-color: rgb(96, 94, 94);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  position: relative;
  background-color: tomato;
}

button:active {
  position: relative;
  top: 2px;
  position: relative;
}

.main-content img {
  display: flex;
  position: absolute;
  top: 30%;
  left: 70%;
  width: 200px;
  /* height: 50%; */
}

.mid-content {
  width: 98%;
  text-align: center;
  min-width: 300px;
  height: 10%;
  padding: 20px;
  margin: auto;
}

.mid-content h4 {
  margin-bottom: 10px;
}

.serve-container {
  display: flex;
  width: 98%;
  min-width: 20%;
  background-color: rgb(72, 72, 200);
  padding: 10px;
  margin: auto;
  flex-direction: column;
}
/* flex-direction: column; */
.serve-title {
  margin: 20px;
  text-align: center;
  position: relative;
  top: -10px;
  color: white;
}

.serve-content {
  display: flex;
  width: 90%;
  max-width: 1000px;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.sub-menu i {
  background-color: rgb(254, 247, 220);
  width: 100px;
  height: 100px;
  padding-top: 25px;
  margin-bottom: 10px;
  border-radius: 50px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 1s;
}

.sub-menu i:hover {
  background-color: violet;
}

.sub-menu {
  padding: 10px;
}

.last-container {
  width: 98%;
  height: 40%;
  text-align: center;
  padding: 10px;
}
.sub-box {
  display: flex;
  flex-direction: column;
}

.content-box {
  /* position: relative; */
  display: flex;
  justify-content: center;
  margin: 20px auto;
  margin-top: 1;
  width: 60%;
  /* overflow: hidden; */
}

.last-content {
  position: relative;
  display: flex;
  align-content: stretch;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
}
.bg-1 {
  background-image: url(/portfolio_layout_project_1/image/portfolio-1.jpeg);
}
.bg-2 {
  background-image: url(/portfolio_layout_project_1/image/portfolio-2.jpeg);
}
.bg-3 {
  background-image: url(/portfolio_layout_project_1/image/portfolio-3.jpeg);
}
.bg-4 {
  background-image: url(/portfolio_layout_project_1/image/portfolio-4.jpeg);
}

.border_white {
  position: absolute;
  width: 250px;
  height: 150px;
  transition: all 1s;
}
.last-content:hover .border_white {
  left: 0px;
  border: solid 20px white;
}
