* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 15px;
}

.Portfolio-container {
  width: 100%;
  height: 800px;
  padding-top: 1px;
  background-color: whitesmoke;
}

.main-container {
  width: 90%;
  min-width: 500px;
  height: 40%;
  padding: 40px;
  margin: auto;
  margin-top: 10px;
  background: linear-gradient(rgb(72, 72, 200), rgb(220, 152, 220));
  overflow: hidden;
}

.main-content {
  position: relative;
  color: white;
}

.main-title {
  display: block;
  font-size: 35px;
}
.main-content p {
  font-size: 15px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 15px;
  background-color: rgb(96, 94, 94);
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

button:hover {
  position: relative;
  background-color: tomato;
}

.main-content button:active {
  position: relative;
  top: 2px;
  position: relative;
}

.main-content img {
  display: flex;
  position: absolute;
  top: 60%;
  left: 60%;
  width: 200px;
  /* height: 50%; */
}

.mid-content {
  width: 90%;
  text-align: center;
  min-width: 500px;
  height: 40%;
  padding: 40px;
  margin: auto;
}

.mid-content h4 {
  margin-bottom: 10px;
}
